@model PerpusWebProject.Models.Buku

@{
    ViewData["Title"] = "Edit Buku";
}

<h2 class="fw-bold mb-4">
    ✏️ Edit Buku
</h2>

<div class="card shadow-sm">

    <div class="card-body">

        <form asp-action="Edit">
            <input type="hidden" asp-for="IdBuku" />
            <div class="mb-3">
                <label asp-for="Judul" class="form-label"></label>
                <input asp-for="Judul" class="form-control" />
                <span asp-validation-for="Judul" class="text-danger">
                </span>
            </div>
            <div class="mb-3">
                <label asp-for="Penulis" class="form-label"></label>
                <input asp-for="Penulis" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Penerbit" class="form-label"></label>
                <input asp-for="Penerbit" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="TahunTerbit" class="form-label"></label>
                <input asp-for="TahunTerbit" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Kategori" class="form-label"></label>
                <input asp-for="Kategori" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Stok" class="form-label"></label>
                <input asp-for="Stok" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">
                Simpan Perubahan
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                Kembali
            </a>
        </form>
    </div>
</div>
@section Scripts {

@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}